body {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  background: white;
  background: url(https://s3.amazonaws.com/media.locally.net/original/HABA_ALT_2017-08-02-13-22-45.jpg);
  background-size: cover;
}

canvas {
  border: 30px solid #d50000;
  border-radius: 10px;
  /* Set the width and height to half 
  the actual size so it doesn't look pixelated */
  width: 800px;
  height: 500px;
  background: #ffffff;
}

canvas.shake{
    animation: shake 0.5s linear 1;
}

.buttons{
    text-align: center;
}

.btns{
    background:    #ff5131;
    background:    linear-gradient(#ff5131, #9b0000);
    border-radius: 5px;
    padding:       8px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 24px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}

@keyframes shake {
    10%,
    90%{
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80%{
        transform: translate3d(2px,0,0);
    }
    30%,
    50%,
    70%{
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60%{
        transform: translate3d(4px, 0, 0);
    }
}

@media only screen and (max-width: 600px) {
#etch-a-sketch{
    width: 415px;
    height: 520px;
}
  }